@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Montserrat';
		src: local('Montserrat'),
			url('/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
		font-weight: 100 900;
		font-display: swap;
	}

	@font-face {
		font-family: 'Montserrat';
		src: local('Montserrat'),
			url('/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
		font-weight: 100 900;
		font-style: italic;
		font-display: swap;
	}

	/* Montserrat Alternates Regular */
	@font-face {
		font-family: 'Montserrat Alternates';
		src: local('Montserrat Alternates'),
			url('/fonts/Montserrat-Alt/MontserratAlternates-Regular.ttf') format('truetype');
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}

	/* Montserrat Alternates Italic */
	@font-face {
		font-family: 'Montserrat Alternates';
		src: local('Montserrat Alternates'),
			url('/fonts/Montserrat-Alt/MontserratAlternates-Italic.ttf') format('truetype');
		font-weight: 400;
		font-style: italic;
		font-display: swap;
	}

	/* Montserrat Alternates 100 */
	@font-face {
		font-family: 'Montserrat Alternates';
		src: local('Montserrat Alternates'),
			url('/fonts/Montserrat-Alt/MontserratAlternates-Thin.ttf') format('truetype');
		font-weight: 100;
		font-style: normal;
		font-display: swap;
	}

	/* Montserrat Alternates 100 Italic */
	@font-face {
		font-family: 'Montserrat Alternates';
		src: local('Montserrat Alternates'),
			url('/fonts/Montserrat-Alt/MontserratAlternates-ThinItalic.ttf') format('truetype');
		font-weight: 100;
		font-style: italic;
		font-display: swap;
	}

	/* Montserrat Alternates 200 */
	@font-face {
		font-family: 'Montserrat Alternates';
		src: local('Montserrat Alternates'),
			url('/fonts/Montserrat-Alt/MontserratAlternates-ExtraLight.ttf') format('truetype');
		font-weight: 200;
		font-style: normal;
		font-display: swap;
	}

	/* Montserrat Alternates 200 Italic */
	@font-face {
		font-family: 'Montserrat Alternates';
		src: local('Montserrat Alternates'),
			url('/fonts/Montserrat-Alt/MontserratAlternates-ExtraLightItalic.ttf') format('truetype');
		font-weight: 200;
		font-style: italic;
		font-display: swap;
	}

	/* Montserrat Alternates 300 */
	@font-face {
		font-family: 'Montserrat Alternates';
		src: local('Montserrat Alternates'),
			url('/fonts/Montserrat-Alt/MontserratAlternates-Light.ttf') format('truetype');
		font-weight: 300;
		font-style: normal;
		font-display: swap;
	}

	/* Montserrat Alternates 300 Italic */
	@font-face {
		font-family: 'Montserrat Alternates';
		src: local('Montserrat Alternates'),
			url('/fonts/Montserrat-Alt/MontserratAlternates-LightItalic.ttf') format('truetype');
		font-weight: 300;
		font-style: italic;
		font-display: swap;
	}

	/* Montserrat Alternates 500 */
	@font-face {
		font-family: 'Montserrat Alternates';
		src: local('Montserrat Alternates'),
			url('/fonts/Montserrat-Alt/MontserratAlternates-Medium.ttf') format('truetype');
		font-weight: 500;
		font-style: normal;
		font-display: swap;
	}

	/* Montserrat Alternates 500 Italic */
	@font-face {
		font-family: 'Montserrat Alternates';
		src: local('Montserrat Alternates'),
			url('/fonts/Montserrat-Alt/MontserratAlternates-MediumItalic.ttf') format('truetype');
		font-weight: 500;
		font-style: italic;
		font-display: swap;
	}

	/* Montserrat Alternates 600 */
	@font-face {
		font-family: 'Montserrat Alternates';
		src: local('Montserrat Alternates'),
			url('/fonts/Montserrat-Alt/MontserratAlternates-SemiBold.ttf') format('truetype');
		font-weight: 600;
		font-style: normal;
		font-display: swap;
	}

	/* Montserrat Alternates 600 Italic */
	@font-face {
		font-family: 'Montserrat Alternates';
		src: local('Montserrat Alternates'),
			url('/fonts/Montserrat-Alt/MontserratAlternates-SemiBoldItalic.ttf') format('truetype');
		font-weight: 600;
		font-style: italic;
		font-display: swap;
	}

	/* Montserrat Alternates 700 */
	@font-face {
		font-family: 'Montserrat Alternates';
		src: local('Montserrat Alternates'),
			url('/fonts/Montserrat-Alt/MontserratAlternates-Bold.ttf') format('truetype');
		font-weight: 700;
		font-style: normal;
		font-display: swap;
	}

	/* Montserrat Alternates 700 Italic */
	@font-face {
		font-family: 'Montserrat Alternates';
		src: local('Montserrat Alternates'),
			url('/fonts/Montserrat-Alt/MontserratAlternates-BoldItalic.ttf') format('truetype');
		font-weight: 700;
		font-style: italic;
		font-display: swap;
	}

	/* Montserrat Alternates 800 */
	@font-face {
		font-family: 'Montserrat Alternates';
		src: local('Montserrat Alternates'),
			url('/fonts/Montserrat-Alt/MontserratAlternates-ExtraBold.ttf') format('truetype');
		font-weight: 800;
		font-style: normal;
		font-display: swap;
	}

	/* Montserrat Alternates 800 Italic */
	@font-face {
		font-family: 'Montserrat Alternates';
		src: local('Montserrat Alternates'),
			url('/fonts/Montserrat-Alt/MontserratAlternates-ExtraBoldItalic.ttf') format('truetype');
		font-weight: 800;
		font-style: italic;
		font-display: swap;
	}

	/* Montserrat Alternates 900 */
	@font-face {
		font-family: 'Montserrat Alternates';
		src: local('Montserrat Alternates'),
			url('/fonts/Montserrat-Alt/MontserratAlternates-Black.ttf') format('truetype');
		font-weight: 900;
		font-style: normal;
		font-display: swap;
	}

	/* Montserrat Alternates 900 Italic */
	@font-face {
		font-family: 'Montserrat Alternates';
		src: local('Montserrat Alternates'),
			url('/fonts/Montserrat-Alt/MontserratAlternates-BlackItalic.ttf') format('truetype');
		font-weight: 900;
		font-style: italic;
		font-display: swap;
	}
}

.containerBetween {
	@apply flex flex-col items-center w-screen h-screen justify-between font-montserrat;
}

.containerCenter {
	@apply flex flex-col items-center w-screen h-screen justify-center font-montserrat;
}

.blankInput {
	@apply bg-transparent border-none outline-none;
}
